Flask==1.0.2
pylint==2.1.1
gunicorn==19.9.0
pytest==3.8.1
requests==2.19.1
elasticsearch==6.3.1
coverage==4.5.1
coveralls==1.5.0
pytest-cov==2.6.0
urllib3==1.23
py==1.6.0
nose==1.3.7
logilab-common==1.4.2
pycodestyle==2.4.0